h1 {
    text-align: center;
    font-weight: 200;
}

input {
    margin-top: 16px;
    border-radius: 12px;
    border: 1px solid #FE3C72;
    text-align: center;
}

input:hover {
    border: 1px solid #FE3C72;
}

.logo {
    width: 30px;
    height: 30px;
}

.image-container {
    display: flex;
    justify-content: center;
}

input:focus {
    outline-width: 0;
}

.container {
    padding: 12px 8px;
}

button {
    background: #FE3C72;
    color: white;
    border-radius: 16px;
    border: 1px solid #FE3C72;
    width: 100%;
    margin-top: 8px;
}
